body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #85604D;
}
h1 {
    color:black;
    background-color: #B0C4B1;
    padding: 1.5rem;
}
p {
    margin: 1.5rem;
}
img {
    float: left;
    border: 2px #000000 solid;
    margin: .45rem;
    max-width: 100%;
}
h2 {
    color:#000000;
    background-color: #EAAC8B;
    padding: 0.5rem;
}
hr {
    border: 1px solid black;
}
main {
    border: 3px solid black;
    margin: 2rem;
    background-color:#FAF3DD;
}